<table>
<table class="table table-striped">
  <thead>
    <th>Дата</th>
    <th>Клиент</th>
    <th>Длина маршрута</th>
    <th>Стоимость</th>
    <th>Потрачено бонусов</th>
    <th></th>
  </thead>
  <tbody>
      <%= ActiveRecord::Base.connection.raw_connection %>

  </tbody>
</table>
