<table id="trips-table" class="table table-striped" data-source="<%= trips_url(format: "json") %>">
  <thead>
    <th>Дата создания</th>
    <th>Дата архивирирования</th>
    <% unless current_user.role? :client %>
        <th>Клиент</th>
        <th>Телефон</th>
    <% end %>
    <th>Длина маршрута</th>

    <th>Полная стоимость</th>
    <th>Получено бонусов</th>
    <th>На счету</th>
  </thead>
  <tbody>

  </tbody>
  <tfoot>
      <tr>
          <th></th>
          <th></th>
          <th>Клиент</th>
          <th>Телефон</th>
          <th>Длина маршрута</th>
          <th>Полная стоимость</th>
          <th>Получено бонусов</th>
          <th></th>
      </tr>
  </tfoot>
</table>
