<div class="activity">
  <div class="body">
    <% if activity.trackable %>
    <div class="mega-icon" style="background-image: url(/assets/post.create.svg)"></div>
    <abbr class="timeago"><%= activity.created_at.strftime("%F %H:%M") %></abbr> 
    <div class="title">
      Начислены баллы клиенту <%= link_to "#{activity.trackable.client}", activity.trackable.client %>
    </div>
    <div class="details">
    	<%= link_to activity.trackable, activity.trackable %>
    </div>
    <% end %>
    </div>
</div>

