<div class="activity">
  <div class="body">
    <div class="mega-icon" style="background-image: url(/assets/post.create.svg)"></div>
    <abbr class="timeago"><%= activity.created_at.strftime("%F %H:%M") %></abbr> 
    <div class="title">
      <%= activity.owner %> удалил поездку
    </div>
    </div>
</div>

