<p>
  <strong>Наименование:</strong>
  <%= @bonus_program.human_name.force_encoding("cp1251").encode("utf-8", undef: :replace) %>
</p>

<p>
<strong>Коэффициент:</strong>
  <%= @bonus_program.rate %>
</p>

<%= link_to 'Редактировать', edit_bonus_program_path(@bonus_program) %> |
<%= link_to 'Назад', bonus_programs_path %>
