
<div id="info-time"></div>


<script type='text/javascript'>
$(function(){

    // console.log("ok");
    // var d = new Date()
    function doPoll(d){
        $.get('/api/clients/check', function(data) {
            // console.log(data);  // process results here
            // $("#info-time").html("Последнее обновление:" + d.getHours());
            setTimeout(doPoll,5000);
        });
    }
        $.get('/api/clients/check',{count: '50'}, function(data) {
            doPoll();
        });
});
    
</script>
