@import "../scss/mixins";
@import "../scss/variables";

/*@import url(http://weloveiconfonts.com/api/?family=entypo);*/
/*@import "entypo"*/
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  margin-right: .5em;
}

//====== LOGIN FORM
.login-form {
	.phone {
		.input-prepend {
			margin-left: 20px;
		}
		input {
			width: 180px;
		}
	}
}

//====== TRIP VIEW
.trip-info {
	strong {
		display: inline-block;
		width: 12em;
	}
}

.trip-form {
	.controls-row {
		.input {
			width: 8em;
			float: left;
		}
	}
}

//====== TABLES
.dataTables_wrapper {
	margin: 1em 0;
}

//====== FOOTER
#copyright {
	font-size: .8em;
	a {
		color: #000;
	}
}
